

html
{
  overflow-x: hidden;
}
body
{
  margin: 0;
  overflow-x: hidden;

  background-color: #efeff2;
}
h1
{
  margin: 0;
  padding: 0;

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 36px;
	font-variant: normal;
	font-weight: bold;
}
h2
{
  margin: 0;
  padding: 0;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-variant: normal;
	font-weight: bold;
  color: #106838;

  text-align: center;
}
h3
{
  margin: 0;
  padding: 0;

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
  color: #343434;
}
table-wrap tr
{
  border-bottom: 2px solid #efeff2; 
}
h4
{
  margin: 0;
  padding: 0;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
}
h5
{
  margin: 0;
  padding: 0;

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
  color: #9b9b9b;
}
h7
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 12px;
  color: #9b9b9b;
}
h8
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 12px;
  color: #343434;
}
.mg8bot
{
  margin-bottom: 4px;
}
.mg16bot
{
  margin-bottom: 14px;
}
.mg28bot
{
  position: relative;
  margin-bottom: 26px;
}
/*Content wrap*/
.content
{
  max-width: 1024px;

  padding: 0px;
  margin: 0 auto;

  background: #efeff2;
}
/*menu on the top*/
.menu-header
{
  position: relative;

  height: 56px;

  background: #000000;
}
.menu-header ul
{
  display: inline-block;
  float: right;

  height: 56px;

  margin: 0;
  padding: 0;
}
/*icons in  the menu*/
.plays,
.phone,
.time
{
  float: right;
	width: 50px;
	height: 56px;
	-webkit-transform: skew(-15deg);
	   -moz-transform: skew(-15deg);
	     -o-transform: skew(-15deg);
  background-color: #F88200;
  border: none;
}
.phone
{
  position: relative;

  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
.search
{
  display: inline-block;
  float: right;
  margin-right: 17px;
  margin-top: 17px;
}
.search input
{
  width: 161px;
  height: 30px;

  margin-right: 3px;

  background: #242424;
  border: none;
}
input[type="text"] {
  width: 100px;
 border: 1px solid #cccccc;
 border-radius: 3px;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 -khtml-border-radius: 3px;
 background: #ffffff !important;
 outline: none;
 height: 24px;
 width: 120px;
 color: #cccccc;
 font-size: 11px;
  font-family: Tahoma;
}
.time-img,
.plays-img,
.phone-img
{
  position: absolute;

  left: 15px;
  top: 18px;

  -webkit-transform: skew(15deg);
     -moz-transform: skew(15deg);
       -o-transform: skew(15deg);
}
.plays-img
{
  left: 13px;
  top: 17px;
  font-size: 10px;
}
.block
{
  position: absolute;

  height:56px;
  width: 18px;

  right: -10px;

  background: #F88200;
}
/*First block under header menu*/
.img-inf-wrap
{
  position: relative;

  height: 432px;

  margin-bottom: 32px;

  background: #fff;
}
.img
{
  position: absolute;
  display: inline-block;

  width: 728px;
  height: 432px;
}
.img-table
{
  display: inline-block;

  height: 361px;
  width: 296px;

  margin-left: 728px;
  padding: 38px 16px 25px 40px;
}
.img-table ul
{
  padding: 0;
  margin: 0;

  list-style: none;
}
.share
{
  background:url('sprites.png') -91px 0;

  margin-bottom: 20px;
}
.share a
{
  position: relative;
  color: #242;
  text-decoration: none !important;
}
.letter
{
  top: 3px;
  left: 85px;
  position: absolute;
}
.counter
{
  display: inline-block;

  margin-left: 20px;
}

.off{margin: 0;}
/*List of images under first block*/
.img-list-wrap
{
  display: inline-block;

  width: 1027px;

  margin: 0 auto;
}
.img-list-wrap ul
{
  padding: 0;
  margin: 0 auto;
}
.img-list-wrap ul li
{
  display: inline-block;

  width: 169px;
  height: 200px;

  margin:  0 auto;
  margin-left: -.18em;

  background: #242;

  list-style: none;
}
.img-list-wrap ul li:first-child
{
  width: 173px;

  margin:  0 auto;
}
.img-list li
{
  position: relative;
  overflow: hidden;

  height: 100%;

  vertical-align: middle;
  margin: 0 auto;
}
.img-list img
{
  position: absolute;

  height: 100%;
  left: -50%;
}
/*Table under image list*/
.table-wrap
{
  width: 960px;

  padding: 24px 32px;
}
.table-wrap table
{
  width: 100%;

  border-collapse: collapse;
}
.table-left
{
  display: inline-block;
  float: left;

  width: 400px;
  height: 256px;

  padding: 38px;

  background: #fff;
}
.table-right
{
  display: inline-block;
  float: right;

  width: 400px;
  height: 256px;

  padding: 38px;

  background: #fff;
}
.table-wrap:after {
    content:"";
    display:block;
    clear:both;
}
.table-left th,
.table-right td,
.table-left td,
.table-right th
{
  padding: 16px 0px;

  text-align: left;
}
.table-right td:last-child,
.table-left td:last-child
{
  width: 142px;
}
.bd-bot
{
  border-bottom: 3px solid #efeff2;
  margin: 0;
}
.bottom-table-header
{
  margin-bottom: 8px;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #9b9b9b !important;
}
/*Hidden*/
.wrapper{display: none;}
.button{display: none;}
.button a{display: none;}
