/* Small Devices, Tablets */
@media only screen and (max-width : 800px) {
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

  .search{display: none;}
  .time{display: none;}
  .wrapper{display: block}
  .img{display: none;}
	.img-list{display: none !important;}
	.img-inf-wrap
	{
		height: auto !important;
		margin-bottom: 14px;
	}
	.img-list-wrap
	{
		width: 100%;
	}
	.img-table
	{
		display: block;

		height: auto !important;
		width: 100%;

		margin: 0;
	}
	.table-right,
	.table-left
	{
		width: 100%;
		height: 300px;
		margin-bottom: 19px;
	}
	.table-wrap
	{
		width: 100%;
		padding: 10px 0px;
	}

	.floating-left
	{
		float: none;
		height: 160px;
	}
	.floating-right
	{
		margin-top: 10px;
	}
	.col-flo-o
	{
		margin-left: 10%;
	}
	.button
	{
		width: 100%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;

    cursor: pointer;
	}
	.button a
	{
		display: block;

		text-decoration: none;
		color:#fff;
		font-size: 20px;
	}

	.img-table:after {
	    content:"";
	    display:block;
	    clear:both;
	}

  /*slider*/
  /*слайдер*/
  * {
  	margin: 0;
  	padding: 0;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-o-box-sizing: border-box;
  	box-sizing: border-box;
  }
  .wrapper {
  	height: 256px;
  	margin: 10px auto 0;
  	position: relative;
  	width: 100%;
  }
  .slider-wrap
  {
    height: 200px;
    margin: 10px auto 0;
    position: relative;
    width: 100%;
  }
  .slider {
  	height: inherit;
  	overflow: hidden;
  	position: relative;
  	width: inherit;
  }
  .wrapper > input {
  	display: none;
  }
  .slides {
  	height: inherit;
  	position: absolute;
  	width: inherit;
  }

  .slide1{background-repeat: no-repeat ;}
  .slide2{background-repeat: no-repeat ;}
  .slide3{background-repeat: no-repeat ;}
	.slide4{background-repeat: no-repeat ;}
	.slide5{background-repeat: no-repeat ;}
	.slide6{background-repeat: no-repeat ;}

	.slide4 img,
	.slide5 img,
	.slide6 img,
  .slide1 img,
  .slide2 img,
  .slide3 img
  {
  	display: block;
  	margin: 0 auto;
		min-height: 100%;
  }
  .wrapper .controls {
  	left: 50%;
		top: 200px;
  	margin-left: -122px;
  	position: absolute;
		z-index: 9;
  }

  .wrapper label {
  	cursor: pointer;
  	display: inline-block;
  	height: 8px;
  	margin: 25px 12px 0 16px;
  	position: relative;
  	width: 8px;
  	-webkit-border-radius: 50%;
  	-moz-border-radius: 50%;
  	-o-border-radius: 50%;
  	border-radius: 50%;
  }

  .wrapper label:after {
  	border: 2px solid #fff;
  	content: " ";
  	display: block;
  	height: 10px;
  	left: -1px;
  	position: absolute;
  	top: -1px;
  	width: 10px;
  	-webkit-border-radius: 50%;
  	-moz-border-radius: 50%;
  	-o-border-radius: 50%;
  	border-radius: 50%;
  }
  .wrapper label {
  	cursor: pointer;
  	display: inline-block;
  	height: 12px;
  	margin: 25px 12px 0 16px;
  	position: relative;
  	width: 12px;
  	-webkit-border-radius: 50%;
  	-moz-border-radius: 50%;
  	-o-border-radius: 50%;
  	border-radius: 50%;
  	-webkit-transition: background ease-in-out .5s;
  	-moz-transition: background ease-in-out .5s;
  	-o-transition: background ease-in-out .5s;
  	transition: background ease-in-out .5s;
  }

  .wrapper label:hover,
  #slide1:checked ~ .controls label:nth-of-type(1),
  #slide2:checked ~ .controls label:nth-of-type(2),
  #slide3:checked ~ .controls label:nth-of-type(3),
	#slide4:checked ~ .controls label:nth-of-type(4),
  #slide5:checked ~ .controls label:nth-of-type(5),
  #slide6:checked ~ .controls label:nth-of-type(6)
  {
  	background: #fff;
  }
  .slides {
  	height: inherit;
  	opacity: 0;
  	position: absolute;
  	width: inherit;
  	z-index: 0;
  	-webkit-transform: scale(1.5);
  	-moz-transform: scale(1.5);
  	-o-transform: scale(1.5);
  	transform: scale(1.5);
  	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
  	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
  	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
  	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
  }

  #slide1:checked ~ .slider > .slide1,
  #slide2:checked ~ .slider > .slide2,
  #slide3:checked ~ .slider > .slide3,
	#slide4:checked ~ .slider > .slide4,
  #slide5:checked ~ .slider > .slide5,
  #slide6:checked ~ .slider > .slide6
  {
  	opacity: 1;
  	z-index: 1;
  	-webkit-transform: scale(1);
  	-moz-transform: scale(1);
  	-o-transform: scale(1);
  	transform: scale(1);
  }
	.col-flo
	{
		display: inline-block;
	}
}

@media only screen and (max-width : 380px)
{
		.floating-left
		{
			float: none;
			height: 160px;
			width: 100%;

			text-align: center;
		}
		.floating-right
		{
			float: none;
			margin-top: 0;
			width: 100%;

			text-align: center;
		}
		.img-inf-wrap
		{
			height: 670px;
		}
		.img-table-header-text
		{
			text-align: center;
		}
		.row-table-wrap
		{
			text-align: center;
		}
}
